:root {
    background-color: hsl(222, 26%, 31%);
    margin: 0;
}

.switch-toggle {
    width: 200px;
}

.switch-toggle:hover {
    cursor: pointer;
}

p {
    position: absolute;
    top: -10%;
    left: 3%;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 10px;
}

.result {
    margin: 0 auto;
    width: 100%;
    height: 75px;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: hsl(224, 36%, 15%);
}

.textResult {
    color: white;
    float: right;
    margin-right: 10px;
    margin-top: 17px;
    font-size: 30px;
    font-weight: bold;
}

.calculator {
    width: 450px;
    background-color: hsl(223, 31%, 20%);
    border: 0 solid hsl(223, 31%, 20%);
    border-radius: 5px;
    padding: 10px;
}

input {
    border: 0px solid rgba(255, 255, 255, 0);
    border-radius: 5px;
}

.blueButton {
    background-color: hsl(225, 21%, 49%);
    box-shadow: -1px 6px 0px 0px hsl(224, 28%, 35%);
    font-weight: bold;
    color: white;
}

.blueButton:active {
    position: relative;
    top: 6px;
    background-color: hsl(223, 21%, 59%);
    box-shadow: 0 0 0 0;
}

.equalButton {
    background-color: hsl(6, 63%, 50%);
    box-shadow: -1px 6px 0px 0px hsl(6, 70%, 34%);
    font-weight: bold;
    color: white;
}

.equalButton:active {
    position: relative;
    top: 6px;
    background-color: hsl(6, 51%, 62%);
    box-shadow: 0 0 0 0;
}

.buttons {
    background-color: hsl(30, 25%, 89%);
    box-shadow: -1px 6px 0px 0px hsl(28, 16%, 65%);
}

.buttons:active {
    position: relative;
    top: 6px;
    background-color: hsl(24, 17%, 94%);
    box-shadow: 0 0 0 0;
}

.button {
    width: 19%;
    margin: 10px;
    height: 40px;
    font-weight: bold;
}

.lastLine {
    width: 44%;
    margin: 10px;
    height: 40px;
}

.attribution {
    position: absolute;
    bottom: 1%;
    left: 1%;
}